@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Londrina+Outline&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: 'Canon';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(./assets/Cannon-SCmedium.woff2) format('woff2');
    }
  }

  @font-face {
    font-family: 'Herokid';
    src: url("./assets/Fontspring-DEMO-herokid-boldexpanded.otf") format("opentype");
}